<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/my-style.css">
</head>
<body>
<div th:replace="layout :: header"></div>

<div th:replace="layout :: navbar"></div>

<div class="container d-flex justify-content-md-center" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-12 bg-light info">
            <form method="post" action="/facility/create" th:object="${facilityObj}">
                <fieldset>
                    <legend style="text-align: center">Service Information</legend>
                    <table>
                        <tr>
                            <td>Name</td>
                            <td>
                                <input type="text" name="name" id="name"
                                       class="form-control"
                                       th:field="*{name}">
                            </td>
                        </tr>
                        <tr>
                            <td>Area</td>
                            <td>
                                <input type="text" name="area" id="area"
                                       class="form-control"
                                       th:field="*{area}">
                            </td>
                        </tr>
                        <tr>
                            <td>Cost</td>
                            <td>
                                <input type="number" name="cost" id="cost"
                                       class="form-control"
                                       th:field="*{cost}">
                            </td>
                        </tr>
                        <tr>
                            <td>Max people</td>
                            <td>
                                <input type="number" name="maxPeople"
                                       class="form-control"
                                       th:field="*{maxPeople}">
                            </td>
                        </tr>
                        <tr>
                            <td>Rental type</td>
                            <td>
                                <select name="rentType" id="rentType"
                                        class="form-select"
                                        th:field="*{rentType}">
                                    <option th:each="rentTypeObj: ${rentType}"
                                            th:value="${rentTypeObj.id}"
                                            th:text="${rentTypeObj.name}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Service 's Type</td>
                            <td>
                                <select name="facilityType" id="serviceType"
                                        onchange="selectServiceType(this)"
                                        class="form-select"
                                        th:field="*{facilityType}">
                                    <option value="">-Select Service 's Type-</option>
                                    <option th:each="facilityTypeObj: ${facilityType}"
                                            th:value="${facilityTypeObj.id}"
                                            th:text="${facilityTypeObj.name}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr id="standardRoom" style="display: none">
                            <td>Standard Room</td>
                            <td><input type="text" name="standardRoom"
                                       class="form-control"
                                       th:field="*{standardRoom}"></td>
                        </tr>
                        <tr id="descriptionOtherConvenience" style="display: none">
                            <td>Description Other Convenience</td>
                            <td><input type="text" name="descriptionOtherConvenience"
                                       class="form-control"
                                       th:field="*{descriptionOtherConvenience}"></td>
                        </tr>
                        <tr id="poolArea" style="display: none">
                            <td>Pool 's Area</td>
                            <td>
                                <input type="text" name="poolArea"
                                       class="form-control"
                                       th:field="*{poolArea}">
                            </td>
                        </tr>
                        <tr id="numberOfFloors" style="display: none">
                            <td>Number of Floors</td>
                            <td>
                                <input type="text" name="numberOfFloors"
                                       class="form-control"
                                       th:field="*{numberOfFloors}">
                            </td>
                        </tr>
                        <tr id="facilityFree" style="display: none">
                            <td>Facility Free</td>
                            <td><input type="text" name="facilityFree"
                                       class="form-control"
                                       th:field="*{facilityFree}"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Create new Service" class=" btn-success"></td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
    function selectServiceType(type) {
        let selectType = type.value;
        switch (selectType) {
            case "1":
                document.getElementById("standardRoom").style.display = "table-row";
                document.getElementById("descriptionOtherConvenience").style.display = "table-row";
                document.getElementById("poolArea").style.display = "table-row";
                document.getElementById("numberOfFloors").style.display = "table-row";
                document.getElementById("facilityFree").style.display = "none";

                $('#facilityFree').val("");
                break;
            case "2":
                document.getElementById("standardRoom").style.display = "table-row";
                document.getElementById("descriptionOtherConvenience").style.display = "table-row";
                document.getElementById("poolArea").style.display = "none";
                document.getElementById("numberOfFloors").style.display = "table-row";
                document.getElementById("facilityFree").style.display = "none";

                $('#poolArea').val(0);
                $('#facilityFree').val("");
                break;
            case "3":
                document.getElementById("standardRoom").style.display = "none";
                document.getElementById("descriptionOtherConvenience").style.display = "none";
                document.getElementById("poolArea").style.display = "none";
                document.getElementById("numberOfFloors").style.display = "none";
                document.getElementById("facilityFree").style.display = "table-row";

                $('#standardRoom').val("");
                $('#descriptionOtherConvenience').val("");
                $('#poolArea').val(0);
                $('#numberOfFloors').val(0);
                break;
            default:
                document.getElementById("standardRoom").style.display = "none";
                document.getElementById("descriptionOtherConvenience").style.display = "none";
                document.getElementById("poolArea").style.display = "none";
                document.getElementById("numberOfFloors").style.display = "none";
                document.getElementById("facilityFree").style.display = "none";
        }
    }
</script>

<div th:replace="layout :: footer"></div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>