<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/my-style.css">
</head>
<body>
<div th:replace="layout :: header"></div>

<div th:replace="layout :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="/facility/create" class="btn btn-success">Add new Service</a>
        </div>
        <div class="col-md-3">
            <form>
                <input type="text" hidden id="mess" value="${msg}">
            </form>
        </div>

        <div class="col-md-6 d-flex justify-content-end">
            <nav>
                <div class="container-fluid">
                    <form action="/service?action=search" method="post" class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                               name="searchName">
                        <button class="btn btn-outline-success btn-light" type="submit"><strong>Search</strong></button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>


<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Area</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Max people</th>
                    <th scope="col">Rental Type</th>
                    <th scope="col">Facility Type</th>
                    <th scope="col" style="text-align: right">Action</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-light" th:each="facility, loop: ${facilities}">
                    <th scope="row" th:text="${loop.count}">count</th>
                    <td th:text="${facility.name}">name</td>
                    <td th:text="${facility.area}">area</td>
                    <td th:text="${facility.cost}">cost</td>
                    <td th:text="${facility.maxPeople}">maxPeople</td>
                    <td th:text="${facility.rentType.name}">rentTypeName</td>
                    <td th:text="${facility.facilityType.name}">facilityTypeName</td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button"
                                class="btn">
                            <a href="/service?action=update&id=${facility.id}">
                                <img src="/img/edit-2.png"
                                     style="height: 25px;width: auto">
                            </a>
                        </button>
                    </td>
                    <td class="btn-delete">
                        <!-- Button trigger modal -->
                        <button type="button"
                                class="btn"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteButton"
                                onclick="showModalDeleteService('${facility.id}','${facility.name}')">
                            <img src="/img/delete.png"
                                 style="height: 25px;width: auto">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link"
               th:href="@{/facility/list(page=${facilities.number - 1})}"
               th:if="${facilities.hasPrevious()}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="btn btn-light">
            <span th:text="${facilities.number + 1}"></span>
            /
            <span th:text="${facilities.totalPages}"></span>
        </li>

        <li class="page-item">
            <a class="page-link"
               th:href="@{/facility/list(page=${facilities.number + 1})}"
               th:if="${facilities.hasNext()}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<!--modal delete-->
<div class="modal fade" id="deleteButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/service?action=remove" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deleting</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Delete <span id="removeServiceName"></span>
                    <input type="hidden" id="removeServiceId" name="removeServiceId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="layout :: footer"></div>
<script src="/js/bootstrap.js"></script>
<script>
        function showModalDeleteService(deleteServiceId, deleteServiceName) {
            document.getElementById("removeServiceName").innerText = deleteServiceName;
            document.getElementById("removeServiceId").value = deleteServiceId;
        }

    $(document).ready(function () {
        $('#tableCustomer').dataTable({
            "dom": 'lrtip',
            "lengthChange": false,
            "pageLength": 5
        });
    });
    window.onload = function () {
        let mess = document.getElementById("mess").value;
        if (mess != null && mess !== "") {
            alert(mess);
        }
    }
</script>
</body>
</html>