<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<a href="/form" class="btn btn-outline-success">
    Thêm mới bài hát
</a>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <tr class="table-dark">
                    <th>#</th>
                    <th>Tên bài hát</th>
                    <th>Nghệ sĩ thể hiện</th>
                    <th>Thể loại nhạc</th>
                    <th>Chỉnh sửa</th>
                </tr>
                <tr th:each="music, loop : ${musicList}">
                    <td th:text="${loop.count}"></td>
                    <td th:text="${music.name}"></td>
                    <td th:text="${music.artist}"></td>
                    <td th:text="${music.type}"></td>
                    <td>
                        <a th:href="@{/update/{id}(id=${music.id})}" class="btn btn-outline-success">
                            Update
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>