<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="/form" class="btn btn-primary">
                Register
            </a>
        </div>
        <div class="col-md-3">
            <span th:text="${msg}"></span>
        </div>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>