.neon {
    cursor: pointer;
    transition: .5s;
}

.neon:hover {
    color: #fff;
    text-shadow: 0 0 5px #FFFF00,
    0 0 25px #FFFF00,
    0 0 50px #FFFF00,
    0 0 100px #FFFF00;
}

body {
    background-size: 100%;
    background: linear-gradient(to top right, #0066ff 0%, #cc3399 100%) no-repeat fixed;
    font-family: "UTM Caviar", serif;
}

table {
    border-radius: 1em;
    overflow: hidden;
}

.info {
    border-radius: 1em;
    overflow: hidden;
}


html {
    /*font-size: 62.5%;*/
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #2f3542;
}

section {
    padding: 5rem 9%;
}

.btn2 {
    margin-top: 1rem;
    display: inline-block;
    border: 0.2rem solid #2f3542;
    color: #2f3542;
    text-decoration: none;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
}

.btn2:hover {
    background: #2f3542;
    color: #fff;
}

.home {
    padding: 0;
}

.home .box {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 2rem 9%;
}

.home .box.second {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.home .box .content {
    width: 30rem;
}

.home .box .content a {
    font-size: 100%;
}

.home .box .content span {
    font-size: 2.5rem;
    color: #2f3542;
}

.home .box .content h3 {
    font-size: 3.5rem;
    color: #FF385C;
    padding-top: .5rem;
    text-transform: uppercase;
}

.home .box .content p {
    line-height: 2;
    color: #2f3542;
    font-size: 1rem;
    padding: 1rem 0;
}