<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<h1>Detail of Blog</h1>
<a href="/" class="btn btn-primary text-decoration-none">Return to list</a>
<table>
    <tr>
        <td>Topic</td>
        <td>: <span th:text="${blogObj.bTopic}"></span></td>
    </tr>
    <tr>
        <td>Content</td>
        <td>: <span th:text="${blogObj.bContent}"></span></td>
    </tr>
</table>

</body>
</html>