.neon{
    cursor: pointer;
    color: #424242;
    transition: .5s;
}

.neon:hover{
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

/*transform button*/
.btn-learn-more{
    background-color: transparent;
    font-size: 20px;
    position: relative;
    display: inline-block;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}
.btn-learn-more::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(144deg,#af40ff, #5b42f3 50%, #00ddeb);
    color: #fff;
    display: grid;
    place-items: center;
    transform: translateX(-105%);
    transition: tranform .5s;
}
.btn-learn-more:hover::before {
    transform: none;
}
.btn-learn-more span{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #5b42f3;
    transition: transform 0.5s;
}
.btn-learn-more:hover span{
    transform: translateX(105%);
}
/*transform button*/
/*blur cursor*/
.my-cursor{
    box-shadow: 0 0 15px #d3d3d4;
    transform: translate(-50%, -50%);
    border: 1px solid #0a53be;
    backdrop-filter: blur(3px);
    background: #ffffff0d;
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    z-index: 9;
    width: 60px;
}
/*blur cursor*/