<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav th:replace="~{common :: navbar}"></nav>
<h1 style="text-align: center">Product List</h1>
<div class="row">
    <div class="col-6">
        <button class="btn btn-primary">
            <a th:href="@{/showCreateForm}" class="text-light text-decoration-none">
                Create new Product
            </a>
        </button>
    </div>
    <div class="col-3">
<!--        <a th:if="${notice}" href="/" class="text-decoration-none">list</a>-->
    </div>
    <div class="col-3">
        <form class="d-flex" action="/search">
            <input class="form-control me-2" type="search"
                   placeholder="Search" aria-label="Search"
                   name="nameSearch">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>
<p style="text-align: center" th:if="${msg}">
    <span th:text="${msg}" class="text-success"></span>
</p>
<table class="table table-striped table-hover">
    <thead>
    <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="productObj, loop: ${productList}">
        <th scope="row" th:text="${loop.count}"></th>
        <td>
            <a th:href="@{/detail/{pId}(pId=${productObj.pId})}" class="text-decoration-none">
                <span th:text="${productObj.pName}"></span>
            </a>
        </td>
        <td th:text="${productObj.pPrice}"></td>
        <td th:text="${productObj.pDescription}"></td>
        <td th:text="${productObj.pManufacturer}"></td>
        <td>
            <button class="btn btn-outline-success">
                <a th:href="@{/update/{pId}(pId=${productObj.pId})}" class="text-decoration-none text-dark">
                    Update
                </a>
            </button>
        </td>
        <td>
            <!-- Button trigger modal -->
            <button type="button"
                    class="btn btn-outline-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                    th:onclick="|showRemove('${productObj.pId}','${productObj.pName}')|">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/remove}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure about deleting <span id="removeName"></span>?
                    <input type="hidden" name="removeId" id="removeId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function showRemove(removeId, removeName) {
        document.getElementById("removeName").innerText = removeName;
        document.getElementById("removeId").value = removeId;
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>