<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/my-style.css">
</head>
<body>
<div th:replace="layout :: header"></div>

<div th:replace="layout :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="/customer?action=create" class="btn btn-success">Add new customer</a>
        </div>
        <div class="col-md-3">

        </div>

        <div class="col-md-6 d-flex justify-content-end">
            <nav>
                <div class="container-fluid">
                    <form action="/customer?action=search" method="post" class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                               name="searchName">
                        <button class="btn btn-outline-success btn-light" type="submit"><strong>Search</strong></button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-12">
            <table id="tableCustomer" class="table" style="width: 100%">
                <thead>
                <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Identify Card</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Customer Type</th>
                    <th scope="col">Address</th>
                    <th scope="col" style="text-align: center">Edit</th>
                    <th scope="col" style="text-align: center">Delete</th>
                </tr>
                </thead>
                <tbody>

                <tr class="table-light">
                    <td>loop.count</td>
                    <td>customer.name</td>
                    <td>customer.birthday</td>
                    <td>Male/Female</td>
                    <td>customer.identifyCard</td>
                    <td>customer.phoneNumber</td>
                    <td>customer.email</td>
                    <td>customerTypeVar.customerTypeName</td>
                    <td>customer.address</td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button"
                                class="btn"
                                data-bs-toggle="modal"
                                data-bs-target="#editButton">
                            <a href="/customer?action=updateCustomer&pId=${customer.pId}">
                                <img src="/img/edit-2.png"
                                     style="height: 25px;width: auto">
                            </a>

                        </button>
                    </td>
                    <td class="btn-delete">
                        <!-- Button trigger modal -->
                        <button type="button"
                                class="btn"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteButton"
                                onclick="showModalDelete('${customer.pId}','${customer.name}')">
                            <img src="/img/delete.png"
                                 style="height: 25px;width: auto">
                        </button>
                    </td>
                </tr>
                </c:forEach>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--modal delete-->
<div class="modal fade" id="deleteButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/customer?action=removeCustomer" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deleting</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure about that? Delete <span id="removeCustomerName"></span>
                    <input type="hidden" id="removeCustomerId" name="removeCustomerId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal notice -->
<div class="modal fade" id="noticeMessage" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content rounded-3 shadow">
            <div class="modal-header">
                <h5 class="modal-title">Furama 's notice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" hidden id="mess" value="${message}">
                <p id="showMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showModalDelete(deleteCustomerId, deleteCustomerName) {
        document.getElementById("removeCustomerName").innerText = deleteCustomerName;
        document.getElementById("removeCustomerId").value = deleteCustomerId;
    }

    $(document).ready(function () {
        $('#tableCustomer').dataTable({
            "dom": 'lrtip',
            "lengthChange": false,
            "pageLength": 5
        });
    });

    window.onload = function () {
        let mess = document.getElementById("mess").value;
        document.getElementById("showMessage").innerText = mess;
        if (mess != null && mess !== "") {
            $(document).ready(function () {
                $("#noticeMessage").modal("show");
            });
        }
    }
</script>

<div th:replace="layout :: footer"></div>
<script src="/js/bootstrap.js"></script>
</body>
</html>